:root {  
  --bg-color: #f8f9fa;  
  --text-color: #212529;
  --icon-color: #212529;   
  --navbar-bg: #ffffff;
  --footer-bg: #ffffff;  
  --border-color: #dee2e6;
  --mutted-footer: #4a5568; 
  --hr-color:#212529;   
}  
  
/* Dark theme */  
[data-theme="dark"] {  
  --bg-color: #212529;  
  --text-color: #f8f9fa;
  --icon-color: #f8f9fa;  
  --navbar-bg: #121212;  
  --footer-bg: #121212;
  --border-color: #4a5568;
  --mutted-footer: #bababa;
  --hr-color:#ffffff;  
}

html {  
  overflow-x: hidden;  
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden; 
}

img {  
  max-width: 100%;  
  height: auto;  
}

.background{
  background-color: var(--bg-color);  
  color: var(--text-color);  
  transition: background-color 0.3s, color 0.3s;  
  flex: 1; 
}

.flag-image {
  width: 24px;
  height: 24px;
  cursor: pointer;
  vertical-align: middle;
}

.theme-icon {  
  cursor: pointer;  
  color: var(--icon-color);  
  font-size: 24px; 
  width: 24px;
  transition: color 0.2s; 
  vertical-align: middle;   
}

.muted {
  color: var(--mutted-footer);
}

.half-page {
  margin: 0 auto;
  padding: 100px 20px 0px;
  flex: 1; 
  display: flex;
  align-items: center;
  max-width: 1200px;
}

footer {  
  padding-top: 20px;    
  padding-bottom: 20px;    
  margin: 0;     
  width: 100%;          
  min-width: 100%;        
  position: relative;    
  left: 0;  
}

footer a {
  color: inherit;
  text-decoration: none;
  font-size: 18px;
}

footer .row{  
  display: flex;  
  flex-wrap: wrap;
  align-items: flex-start !important;
  text-align: center;
}

.profile-image {
  max-width: 300px;
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.footer {
  background-color: var(--footer-bg) !important;
}

.resume-section {
  margin: 0 auto;
  padding: 40px 20px;
  max-width: 1200px;
  width: 100%;
}

.resume-section h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.resume-section h2 {
  font-size: 2rem;
  font-weight: bold;
  scroll-margin-top: 80px;
}

.resume-section h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.resume-section .text-muted {
  font-size: 1rem;
}

/* For mobile responsiveness */
@media (max-width: 768px) {
  .resume-section .col-md-3 {
      margin-bottom: 1rem;
  }
}

.row {  
  display: flex;  
  align-items: center;  
  flex-wrap: wrap;
}

.navbar-brand {
  font-family: 'Pacifico', cursive;
  font-size: 1.5rem;
  color: var(--text-color) !important;
}

.about-me-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.about-me {
  text-align: justify;
  justify-content: center;
}

.intro{
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

/* expirence and education section */
.resume-section hr {  
  display: block;  
  height: 1px;  
  background-color: var(--hr-color);   
  border: none;  
  width: 100%; 
  margin: 2rem 0; 
}

.resume-section .row {
  padding-left: 1em;
  padding-right: 1em;
  margin: 0;
}

.timeline-col {  
  min-width: 250px;  
  max-width: 300px;  
  width: 250px;  
  flex: 0 0 200px;
  margin-bottom: 10px;
}

.logo {
  width: 64px;
  height: 64px;
  object-fit: cover;
  margin-right: 16px;
  border-radius: 50%;
}